@use 'variables';

.swiper-slide {
  img {
    width: 100%;
    display: block;
    height: auto;
    object-fit: cover;
  };
};

.swiper-button-prev {
  &::before {
    content: url(../images/arrow-left.svg);
  };

  &::after {
    display: none;
  };
};

.swiper-button-next {
  &::before {
    content: url(../images/arrow-right.svg);
  };

  &::after {
    display: none;
  };
};
