// colors
$dark-font: #2C3E50;
$white-font: #F5F5F5;
$blue-font: #2DB5D3;
$blue-bg: #00AEC7;
$white-bg: #F5F5F5;

// font-sizes
$sm-font: 1rem;
$md-font: 1.5rem;

// breakpoints
$xxs: 15rem;
$xs: 25rem;
$sm: 52rem;
$md: 70rem;
$lg: 76rem;
$xl: 80rem;
$xxl: 86rem;
$xxxl: 92rem;
