@use 'global';
@use 'variables';
@use 'layout';
@use 'swiper';


// intro-section

.intro-section {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    @media screen and (max-width: variables.$md) {
      flex-direction: column;
      align-items: center;
    };
  };

  &__info {
    padding-left: 4.5rem;

    @media screen and (max-width: variables.$md) {
      padding: 0 2rem;
    };
  };

  &__text {
    max-width: 22.8rem;
  };

  &__logo {
    width: 100%;
    height: auto;
    max-width: 17rem;
    margin: 5.875rem 0 3.8rem;
  };

  &__img {
    width: 100%;
    max-width: 44rem;
    height: auto;
  };
};

.vacancies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 49rem;
  margin: -14rem auto 6rem;
  padding: 1rem 6rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 2px 10px rgba(0, 58, 64, 0.2);
  border-radius: 1.875rem;
  z-index: 100;

  @media screen and (max-width: variables.$lg) {
    max-width: 35rem;
  };

  @media screen and (max-width: variables.$lg) {
    flex-direction: column;
    justify-content: center;
    width: auto;
    gap: 1rem;
    padding: 1rem 4rem;
    margin-top: 3rem;
    max-width: 20rem;
  };

  @media screen and (max-width: variables.$xs) {
    max-width: 8rem;
  };

  @media screen and (max-width: variables.$xxs) {
    padding: 0.7rem 2rem;
    max-width: 3rem;
  };

  &__button {
    padding: 0.5rem 3rem;
    font-size: variables.$md-font;
    background-color: variables.$blue-bg;
    border: 1px dashed variables.$blue-font;
    color: variables.$white-font;
    border-radius: 1.25rem;
    transition: 0.4s;
    cursor: pointer;

    &:hover {
      color: variables.$blue-font;
      background-color: white;
      border: 1px dashed variables.$blue-font;
    };

    @media screen and (max-width: variables.$sm) {
      font-size: variables.$sm-font;
    };
  };

  &__link {
    font-weight: 500;
    font-size: variables.$md-font;

    @media screen and (max-width: variables.$sm) {
      font-size: variables.$xs-font;
    };
  };
};

// about-section

.about-section {
  width: 100%;

  &__img {
    width: 100%;
    max-width: 35rem;
    height: auto;
  };

  &__content {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: -3rem;

    @media screen and (max-width: variables.$lg) {
      flex-direction: column;
      align-items: center;
    };
  };

  &__info {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;

    @media screen and (max-width: variables.$lg) {
      padding: 4rem 2rem;
    };
  };

  &__text {
    max-width: 35rem;
  };

  &__heading {
    &--blue {
      color: variables.$blue-font;
    };
  };

  .swiper-slide {
    text-align: center;
    background: transparent;

    img {
      width: 3rem;
    };
  };

  .swiper-pagination {
    display: none;

    &-bullet {
      top: 1rem;
      width: 0.6rem;
      height: 0.6rem;

      &-active {
        background-color: variables.$blue-bg;
      };
    };

    @media screen and (max-width: variables.$xxl) {
      display: block;
    };
  };
};

.benifit {
  width: 12.5rem;
  min-height: 24.7rem;
  padding: 2.5rem;
  margin-bottom: 2.5rem;
  background: #ffffff;
  border: 1px solid rgba(136, 140, 140, 0.4);
  border-radius: 1.8rem;
  transition: 0.4s;
  text-align: start;
  cursor: pointer;

    &:hover {
      background-color: variables.$blue-bg;
      color: white;
      border: 1px dashed transparent;
    };

    @media screen and (max-width: variables.$lg) {
      padding: 1.5rem;
      margin: 4rem auto;
    };

  &__heading {
    display: block;
    margin: 1.5rem 0;
    font-weight: 700;
    font-size: variables.$md-font;
  };
};

// team-section

.team-section {
  &__swiper {
    width: 100%;
    height: 23rem;
    margin: 3rem 0;
    padding-bottom: 13rem;
    border-radius: 2rem;

    @media screen and (max-width: variables.$xxxl) {
      padding-bottom: 4rem;
      height: auto;
    };
  };

  .swiper-slide {
    img {
      display: block;
      object-fit: contain;
    };
  };

  .swiper-pagination {
    &-bullet {
      top: 1rem;
      width: 0.6rem;
      height: 0.6rem;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 100%;

      &-active {
        border: 1px solid variables.$blue-bg;
        background-color: variables.$blue-bg;
      };
    };
  };

  .swiper-button-next, .swiper-button-prev {
    top: auto;
    bottom: -0.3rem;
  };

  .swiper-button-prev {
    left: 33rem;

    @media screen and (max-width: variables.$xxxl) {
      left: 29rem;
    };

    @media screen and (max-width: variables.$xxl) {
      left: 25rem;
    };

    @media screen and (max-width: variables.$lg) {
      display: none;
    };
  };

  .swiper-button-next {
    right: 33rem;

    @media screen and (max-width: variables.$xxxl) {
      right: 29rem;
    };

    @media screen and (max-width: variables.$xxl) {
      right: 25rem;
    };

    @media screen and (max-width: variables.$lg) {
      display: none;
    };
  };
};

// people-section

.people-section {
  margin: 3rem 0;
  padding: 2rem;

  &__swiper {
    padding: 1rem 0 2.5rem;
    border-radius: 2rem;

    @media screen and (max-width: 80rem) {
      padding-bottom: 10rem;
    };

    @media screen and (max-width: variables.$md) {
      padding-bottom: 2rem;
    };
  };

  &__content {
    display: flex;
    gap: 2rem;

    @media screen and (max-width: variables.$sm) {
      flex-direction: column;
      align-items: center;
      gap: 4rem;
    };
  };

  &__info {
    display: flex;
    flex-direction: column;
    text-align: start;
  };

  &__name {
    font-size: variables.$md-font;
    font-weight: 700;
  };

  &__position {
    margin-bottom: 1rem;
  };

  &__img {
    padding-bottom: 1rem;
  };

  .swiper-button-next, .swiper-button-prev {
    top: 60%;

    @media screen and (max-width: variables.$md) {
      display: none;
    };
  };

  .swiper-button-prev {
    left: 0rem;
  };

  .swiper-button-next {
    left: 3rem;
  };

  .swiper-pagination {
    display: none;

    &-bullet {
      top: 1rem;
      width: 0.6rem;
      height: 0.6rem;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 100%;

      &-active {
        border: 1px solid variables.$blue-bg;
        background-color: variables.$blue-bg;
      };
    };

    @media screen and (max-width: variables.$md) {
      display: block;
    };
  };
};
